body{
background-color:#F5F5F5;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif


}

.container{
background-color: #E9E9E9;
margin: auto;
width: 600px;
border-radius: 5px;
overflow: hidden;

}

.header{
padding: 40px;

}

.flex-container{
display: flex;
background-color: #006868;
justify-content: space-around;
padding: 20px;
}

.header-title{
    font-size: 32px;
    color:#006666;
    font-weight: bold;
   

}

.header-subtitle{
    color: #0091AF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 40px;

}

.header-text{
    margin-left: 40px;
    margin-bottom: 10px;
}